/* Course.css */

.card {
    transition: all 0.3s;
}
.card.selectable:hover {
    transform: scale(1.05);
    outline: 2px solid #007bff;
}

.edit-button {
    transition: all 0.3s;
}

.edit-button:hover {
    transform: scale(1.5);
}